* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -10;
}

.navbar.bg-light .form-control {
  border-radius: 4.25rem;
}

a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.add {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.add:hover {
  color: #f7d62d;
  transition: 0.3s;
}

/* Set the size of the div element that contains the map */
#map {
  width: 80%;
  height: 200px;
  border-radius: 10px;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 1.2em;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.friend-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
  max-height: 600px;
  overflow: auto;
}

.friend-item-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.friend-item-wrapper h6 {
  padding-left: 10px;
  font-size: 1em;
}

.friendItem {
  width: 50px;
  height: 50px;
}

.friendItem img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#tooltip {
  position: relative;
}

/* Tooltip text */
#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 120px;
  top: 10%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
#tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 991px) {
  .sidenav-wrapper {
    display: none;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
