<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../static/stylesheets/create.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #6D87A8;">
    <button class="backButton" onclick="location.href = '/';" style="width:auto;">Back</button>
    <img src="{{url_for('static', filename='logoTransp.png')}}"
        style="display: block; margin-left: auto; margin-right: auto;">
    <div class="container-fluid">
        <h1>Create New Post</h1>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="background-color:#e6c5a9">
                <form action = "/create" METHOD = "POST">
                    <label for="usr">Username:</label><br>
                    <input type="text" id="usr" name="usr"><br>
                    <label for="loc">Location:</label>
                    <select id="loc" name="loc">
                        <option value="Rochester">Rochester</option>
                        <option value="Seattle">Seattle</option>
                    </select>
                    <label for="rate">Rating:</label>
                    <select id="rate" name="rate">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="desc">Description:</label><br>
                    <textarea id = "desc" name = "desc" ></textarea><br>
                    <input type="submit" value="Post">
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

</body>

</html>