{% extends "base.html" %}
{% block title %}Edit movie{% endblock %}
{% block content %}
    <h1 class="title">Edit movie</h1>

    <form action="" method="POST" name="movie_edit">
      <div class="field">
        <label for="location" class="label">Location</label>
        <div class="control">
          <input type="text" name="location" class="input" required="required"/>
        </div>
      </div>

      <div class="field">
        <label for="rate" class="label">Year</label>
        <div class="control">
          <input type="number" name="rate" class="input"/>
        </div>
      </div>
      <div class="field">
        <label for="desc" class="label">Description</label>
        <div class="control">
          <input type="number" name="desc" class="input"/>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}