<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/stylesheets/login.css"/>
    <!-- {{url_for('static', filename='styles.css')}} -->
    <title>Login Page</title>
  </head>
  <body>

    <div class="section flex-container">
      <video src="static/Oceans_11.mp4" type="video/mp4" autoplay muted loop></video>

      <div class="wrapper flex-container">
        <div class="adventureLogo">
           <img src="{{url_for('static', filename='abSS.png')}}">
        </div>

        <div class= "flex-container">
           <button class="loginButton" onclick="document.getElementById('loginForm').style.display='block'" style="width:auto; font-size: 1.3em; margin-right: 30px">LOGIN</button>
           <button class="signUpButton" onclick="document.getElementById('loginForm').style.display='block'" style="width:auto; font-size: 1.3em">SIGN UP</button>
        </div>
      </div>

    </div>

    <div id="loginForm" class="modal">
          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('loginForm').style.display='none'" class="close" title="Close Modal">&times;</span>
              <img src="{{url_for('static', filename='logoTransp.png')}}" alt="Avatar" style="width: 10%">
            </div>

            <div class="container" style="padding: 16px">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="uname" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>

              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
            </div>
          </form>
    </div>

  </body>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
</html>
