{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} 
{% block title %}
{{title}}{% endblock %} 

{% block page_content %}

<!-- Video Background -->
<div class="position-fixed" style=" z-index: -1"> 
    <div class="section flex-container">
        <video src="static/profileVid.mp4" type="video/mp4" autoplay muted loop></video>
    </div>
</div>

<!-- Content -->
<main role="main" class="container" style="width: 70%; padding: 70px;">
    <div class="flex-container pb-4 pt-5" style="width: 100%; justify-content: space-between; margin-top: 30px;">
        <h1 style="height: 100%; color: white; font-size: 3em;">YOUR POSTS</h1>
        <div class="flex-container">
            <a href="" style="color: white; font-size: 2em; margin-right: 10px; text-decoration: none; cursor: auto;">CREATE</a>
            <a href="/create"><i class="add fa fa-plus-square-o fa-3x"></i></a>
        </div>
    </div>

    <!--Post Example-->
    {% for posts in create%}
    <div class="jumbotron">

        <div class="flex-container" style="width: 100%; justify-content: space-between;">
            <!-- Title Header -->
            <h2>{{posts.location}}</h2>
            <!-- Delete Btn -->
            <div class="d-flex flex-row my-3">
                <form method="POST" action="./delete">
                  <input type="hidden" value="{{posts.id}}" name="delID">
                  <input type="hidden" value="{{posts.location}}" name="title">
                  <input type="hidden" value="{{posts.rating}}" name="title">
                  <input type="hidden" value="{{posts.description}}" name="title">
                  <button type="submit" class="btn btn-danger mb-2">Delete</button>
                </form>                
            </div>
        </div>

        <!-- Info Description -->
        <div class="-d-flex" style="flex-direction: column; justify-content: flex-start;">
            <div class="d-flex flex-column">
                <div class="about my-2">
                   <h3>Place: </h3>
                   <h4>{{posts.place}}</h4>
                </div>
                <div class="about my-2">
                   <h3>Rating: </h3>
                   <h4>{{posts.rating}}</h4>
                </div>
                <div class="about my-2">
                   <h3>Description: </h3>
                   <h4>{{posts.description}}</h4>
                </div>
            </div>

            <!-- update form appears when clicking on edit-->
            <!-- <button onclick="showForm()" class="btn btn-primary mb-2">Edit</button>  -->
            <!-- style="display: none;" -->
            <form method="POST" action="./update" id="updateForm">
                <div class="form-group">
                    <input type="hidden" value="{{posts.id}}" name="oldID" id = "oldID">    
                </div>
                <div class="form-group">
                    <label for="oldLoc">Location:</label>
                    <input type="hidden" value="{{posts.location}}" name="oldLoc" id = "oldLoc">
                    <input type="text" class="form-control" placeholder="Enter a location..." value="{{posts.location}}" name="newLoc">
                </div>
                <div class="form-group">
                    <label for="oldRate">Rating:</label>
                    <input type="hidden" value="{{posts.rating}}" name="oldRate" id = "oldRate">
                    <input type="text" class="form-control" placeholder="Give a rating..." value="{{posts.rating}}" name="newRate">
                </div>
                <div class="form-group">
                    <label for="oldDesc">Description:</label>
                    <textarea type="text" class="form-control" value="{{posts.description}}" name="newDesc" rows = "3" value = "{{posts.description}}"> </textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2 mr-3">Update</button>
            </form>
        </div>
    </div>

     {% endfor %}

     <!--Post Example-->
    {% for pin in pinned%}
    <div class="jumbotron">

        <div class="flex-container" style="width: 100%; justify-content: space-between;">
            <!-- Title Header -->
            <h2>{{pin.location}}</h2>
            <!-- Delete Btn -->
            <div class="d-flex flex-row my-3">
                <form method="POST" action="./delete">
                  <input type="hidden" value="{{pin.id}}" name="delID">
                  <input type="hidden" value="{{pin.username}}" name="title">
                  <input type="hidden" value="{{pin.rating}}" name="title">
                  <input type="hidden" value="{{pin.description}}" name="title">
                  <button type="submit" class="btn btn-danger mb-2">Delete</button>
                </form>                
            </div>
        </div>

        <!-- Info Description -->
        <div class="-d-flex" style="flex-direction: column; justify-content: flex-start;">
            <div class="d-flex flex-column">
                <div class="about my-2">
                   <h3>User: </h3>
                   <h4>{{pin.username}}</h4>
                </div>
                <div class="about my-2">
                   <h3>Rating: </h3>
                   <h4>{{pin.rating}}</h4>
                </div>
                <div class="about my-2">
                   <h3>Description: </h3>
                   <h4>{{pin.description}}</h4>
                </div>
            </div>

            <!-- update form appears when clicking on edit-->
            <!-- <button onclick="showForm()" class="btn btn-primary mb-2">Edit</button>  -->
            <!-- style="display: none;" -->
            <form method="POST" action="./update" id="updateForm">
                <div class="form-group">
                    <input type="hidden" value="{{pin.id}}" name="oldID" id = "oldID">    
                </div>
                <div class="form-group">
                    <label for="oldLoc">Location:</label>
                    <input type="hidden" value="{{pin.location}}" name="oldLoc" id = "oldLoc">
                    <input type="text" class="form-control" placeholder="Enter a location..." value="{{pin.location}}" name="newLoc">
                </div>
                <div class="form-group">
                    <label for="oldRate">Rating:</label>
                    <input type="hidden" value="{{pin.rating}}" name="oldRate" id = "oldRate">
                    <input type="text" class="form-control" placeholder="Give a rating..." value="{{pin.rating}}" name="newRate">
                </div>
                <div class="form-group">
                    <label for="oldDesc">Description:</label>
                    <textarea type="text" class="form-control" value="{{pin.description}}" name="newDesc" rows = "3" value = "{{pin.description}}"> </textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2 mr-3">Update</button>
            </form>
        </div>
    </div>

     {% endfor %}

</main>


{% endblock %}


{% block scripts %} {{ super() }}{%endblock%}
